.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
  width: 140px;
  gap: 9px;
  margin: 0 auto;

  border-radius: 14px;
  border: 1px solid #d1d8d8;
  background: #030617;
  box-shadow:
    -5px 41px 12px 0 rgba(0, 0, 0, 0),
    -3px 26px 11px 0 rgba(0, 0, 0, 0.01),
    -2px 15px 9px 0 rgba(0, 0, 0, 0.05),
    -1px 7px 7px 0 rgba(0, 0, 0, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);

  transition:
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.button.active {
  border-radius: 14px;
  background: #10B982;
  border: none;
  opacity: 1;
  box-shadow:
    11px 41px 12px 0 rgba(0, 0, 0, 0),
    7px 26px 11px 0 rgba(0, 0, 0, 0.01),
    4px 15px 9px 0 rgba(0, 0, 0, 0.05),
    2px 7px 7px 0 rgba(0, 0, 0, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #000;
}

.button svg {
  fill: #fff;
}

.button.active svg {
  fill: #000;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button.green {
  background: #10B982;
  border: none;
  color: #000;
  font-weight: 600;
  width: 100%;
  opacity: 1;
}

.button.green:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
