.footer {
  border-top: 1px solid #d1d8d8;
  background: #0E162B;
  padding: 15px 15px 9px 15px;
}

.wrapperFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  margin: 0;
}

.learnMoreButton {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.footerCopyright {
  color: #A7A7A7;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

@media screen and (max-width: 669px) {
  .wrapperFooter {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}
