body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 137px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Device Styles */
.wrapper-step-current {
}

.step-current-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 9px;
}

.step-current {
  display: flex;
  align-items: center;
  gap: 4px;
}

.step-current-value {
  display: inline-block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background: #eaeeee;
}

.step-current-value.active {
  background: #10B982;
}

.wrapper-btn-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-icon {
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-icon.next {
  transform: scaleX(-1);
}

/* OfferClaimPage */
.wrapper-offer-claim-page {
  /* width: 100%; */
  height: 100%;
  padding: 70px 15px 60px 15px;
}

.offer-claim-page {
  border-radius: 8px;
  background: #0E162B;
  max-width: 405px;
  height: 100%;
  padding: 30px 15px;
  margin: 0 auto;
}

.offer-claim-page-title {
  color: #fff;
  font-family: Inter;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 14px;
}

.offer-claim-page-subtitle {
  color: #fff;
  font-family: Inter;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 45px;
}

.offer-claim-page-amount {
  text-align: center;
  color: #10B982;

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 100%;
}

.amount-text {
  position: relative;
}

.offer-claim-page-amount .cad-text {
  position: absolute;
  top: 6px;
  right: -54px;
  font-weight: 400;
  font-size: 26px;
}

.offer-claim-page-expiry {
  color: #18B884;
  font-family: Inter;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 14px;
  background: #1E293B;
  margin-bottom: 26px;
  padding: 15px;
}

.offer-claim-page-label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.offer-claim-page-input {
  border-radius: 8px;
  border: 1px solid #383F51;
  background: #0A101E;
  padding: 14px;
  margin-bottom: 20px;
}

.offer-claim-page-input:focus {
  outline: none;
  border-color: #45b549;
}

.offer-claim-page-input::placeholder {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper-verification {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 29px;
}

.wrapper-verification p {
  color: #fff;
}

.view-rewards-btn {
  color: #45b549;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-left: 5px;
}
